<nb-card>
  <nb-card-header>ResetPassword</nb-card-header>  
  <nb-card-body>
    <div style="display: flex; flex-direction: column;">
      <caption>Password must be 8 characters minimum</caption>
      <input-field #newpassword fieldName="newpassword" label="New Password" type="password"></input-field>
      <input-field #repassword fieldName="repassword" label="Re-enter new password" type="password"></input-field>
    </div>
  </nb-card-body>
  <nb-card-footer style="display:flex;flex-direction: column; align-items: center;">
    <div style="display:flex;">
      <action-button (click)="this.cancel()" buttonLabel="Cancel" ></action-button>
      <action-button (click)="this.submit()"  buttonLabel="Submit" ></action-button>
    </div>
  </nb-card-footer>
</nb-card>